{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <div class="form-group">
        <label class="control-label" for="username">{{ 'security.login.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="MyUsername" required="required" />
        <span class="help-block"></span>
    </div>

    <div class="form-group">
        <label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>
        <input class="form-control" type="password" id="password" name="_password" required="required" />
        <span class="help-block"></span>
    </div>

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> Remember me
    <p class="help-block">(if this is a private computer)</p>

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <input class="btn btn-success btn-block" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
<div class="text-center">
    <br>
    or login with &nbsp;
    <a href="{{ path("fb_url") }}"><img class="fb" src="{{ asset('img/f.png') }}" alt=""></a>
    <a href="{{ path("google_url") }}"><img class="gplus" src="{{ asset('img/g.png') }}" alt=""></a>
    <br><br>
</div>
{% endblock fos_user_content %}
