{% extends "::base.html.twig" %}

{% block title %}DareOrStare - main page{% endblock %}
{% block body %}
    <header class="header">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('zdrw_index') }}">Dare Or Stare</a>
                </div>
                <div class="navbar-collapse collapse" style="overflow:hidden;">
                    <ul class="nav navbar-nav">
                        <li>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('zdrw_dares') }}">Dares</a></li>
                        <li><a href="{{ path('zdrw_stares') }}">Stares</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block leftSideBar %}
        <div class="left-sidebar">
            <div class="left-sidebar-button"></div>
            <section class="profile-section">
                <article>
                    <div class="avatar"></div>
                    <br>
                    <p>
                        {% set userInfo = user_info_provider.userInfo(user) %}
                        <b class="font-2"><a href="{{ path("zdrw_profile") }}">{{ userInfo.name }}</a></b><br>{{ userInfo.email }}
                    </p>
                    <hr>
                    Meniu
                    <br><br>
                </article>
            </section>
        </div>
    {% endblock %}
    {% block content %}{% endblock %}
    <hr>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2014 Zdrw</p>
        </div>
    </footer>
{% endblock %}