{% extends "::base.html.twig" %}

{% block title %}DareOrStare - main page{% endblock %}
{% block body %}
    <header class="header">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('zdrw_index') }}">Dare Or Stare</a>
                </div>
                <div class="navbar-collapse collapse" style="overflow:hidden;">
                    <ul class="nav navbar-nav">
                        <li>
                            <form class="navbar-form navbar-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('zdrw_dares') }}">Dares</a></li>
                        <li><a href="{{ path('zdrw_stares') }}">Stares</a></li>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            {% set userInfo = user_info_provider.userInfo(user) %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    <strong>{{ userInfo.name }}</strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="text-center">
                                                        <img src="http://placehold.it/80x80" class="img-circle" alt="Profile picture">
                                                    </p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="text-left"><strong>{{ userInfo.name }}</strong></p>
                                                    <p class="text-left small">{{ userInfo.email }}</p>
                                                    <p class="text-left">
                                                        <a href="{{ path("zdrw_profile") }}" class="btn btn-primary btn-block btn-sm">Profile</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger btn-block">Log out</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block login %}
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}

        {% else %}
            <!-- Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Member area</h4>
                        </div>
                        <div class="modal-body">

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="well">
                                    {{ render(controller('ZdrwUserBundle:Security:login')) }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div>
                                    <p class="lead">Register now for FREE</p>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endblock %}
    {% block leftSideBar %}
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        {% set userInfo = user_info_provider.userInfo(user) %}
            <div class="left-sidebar">
                <div class="left-sidebar-button"><b><img src="{{ asset('img/icons/leftMenu.svg') }}" alt="Slide icon"></b></div>
                <section class="profile-section">
                    <article>
                        <div class="avatar"></div>
                        <br>
                        <p>
                            <b class="font-2"><a href="{{ path("zdrw_profile") }}">{{ userInfo.name }}</a></b><br>{{ userInfo.email }}
                        </p>
                        <hr>
                        Meniu
                        <br><br>
                    </article>
                </section>
            </div>
        {% endif %}
    {% endblock %}
    {% block content %}{% endblock %}
    <hr>
    <footer class="footer">
        <div class="container">
            <p>&copy; 2014 Zdrw</p>
        </div>
    </footer>
{% endblock %}