{% extends "::base.html.twig" %}

{% block title %}DareOrStare - main page{% endblock %}
{% block body %}
    <header class="header">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('zdrw_index') }}">Dare Or Stare</a>
                </div>
                <div class="navbar-collapse collapse" style="overflow:hidden;">
                    <ul class="nav navbar-nav">
                        <li>
                            <form method="post" action="{{ path('zdrw_search') }}" role="search" id="custom-search-form" class="form-search form-horizontal pull-right">
                                <div class="input-append span12">
                                    <input type="text" class="search-query mac-style" name="keyword" class="form-control" placeholder="Search" >
                                    <button type="submit" name="search" value="search">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            {% if is_granted('ROLE_ADMIN') %}
                                {% set userInfo = user_info_provider.userInfo(user) %}
                                <li><a href="{{ path('admin_index') }}">Admin panel</a></li>
                            {% endif %}
                        {% endif %}
                        <li><a href="{{ path('zdrw_dares') }}">Dares</a></li>
                        <li><a href="{{ path('zdrw_stares') }}">Stares</a></li>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            {% set userInfo = user_info_provider.userInfo(user) %}
                                {% if app.request.get('_route') != 'zdrw_profile' %}
                                    {% if nId > 0 %}
                                        <li>
                                            <a href="{{ path('zdrw_profile') }}">
                                            <span style="font-size:12pt" class="label label-danger">
                                                {{ nId }}
                                                <span class="glyphicon glyphicon-bell"></span>
                                            </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            <li class="dropdown hidden-xs">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    <strong>
                                        {{ userInfo.nick }}
                                    </strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login ">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <p class="text-center">
                                                        <img class="hidden-xs img-circle navbar-thumbnail" src="{{ asset('img/avatar.png') }}" alt="Profile picture">
                                                    </p>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="text-left"><strong>{{ userInfo.nick }}</strong></p>
                                                    <p class="text-left">User points: <b>{{ userInfo.points }}</b></p>

                                                    <p class="text-left">
                                                        <a href="{{ path("zdrw_profile") }}" class="btn btn-primary btn-block btn-sm">Profile</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger btn-block">Log out</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="visible-xs">
                                <a href="{{ path("zdrw_profile") }}">
                                    <strong>{{ userInfo.nick }}</strong>
                                </a>
                            </li>
                            <li class="visible-xs">
                                <p class="text-left">
                                    <a href="{{ path("zdrw_profile") }}" class="btn btn-primary btn-block btn-sm">Profile</a>
                                </p>
                                </li>
                            <li class="visible-xs">
                                <p class="text-left">
                                    <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger btn-block btn-sm">Log out</a>
                                </p>
                            </li>
                        {% else %}
                            {% block loginBtn %}
                            <li><a id="login-link" data-link="{{ path("zdrw_login") }}" href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
                            {% endblock %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    {% block login %}
        {% if is_granted("IS_AUTHENTICATED_FULLY") %}

        {% else %}
            <!-- Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Member area</h4>
                        </div>
                        <div class="modal-body">

                        <div class="row">
                            <div class="col-xs-6">
                                <div class="well">
                                    {{ render(controller('ZdrwUserBundle:Security:login')) }}
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div>
                                    <p class="lead">Register now for FREE</p>
                                        <span class="glyphicon glyphicon-ok"></span>&nbsp; Post your own dare
                                        <br><br>
                                        <span class="glyphicon glyphicon-ok"></span>&nbsp; Receive another user dare
                                        <br><br>
                                        <span class="glyphicon glyphicon-ok"></span>&nbsp; Earn money for accomplished dares
                                        <br><br>
                                    <br>
                                    <a href="{{ path("fos_user_registration_register") }}" class="btn btn-primary btn-block">Register</a>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endblock %}
    <div class="wrap">
    {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <p>&copy; Zdrw team, 2014</p>
        </div>
    </footer>
{% endblock %}