{% extends "ZdrwOffersBundle::layout.html.twig" %}

{% block content %}
    <div class="container page-content">
        <section class="col-md-8 box primary-section">
            <div class="primary-content">
                <div class="row">
                    <article class="articles">
                        <div class="dare-article">
                            <div class="row">
                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-2">
                                    <a href="#" class="thumbnail dare-thumbnail">
                                        <img src="http://placehold.it/100x100" alt="" />
                                    </a>
                                    <div class="text-center"><b><a href="{{ path('zdrw_user', {name: dare.Owner}) }}">{{ dare.Owner }}</a></b></div>
                                </div>
                                <div class="col-sm-10">
                                    <h4><a href="{{ path('zdrw_dare', { id: dare.id }) }}">{{ dare.title }}<small class="pull-right">
                                                {{ dare.startDate | date("Y-d-m H:i") }}
                                            </small></a></h4>
                                    <p class="shortDesc">{{ dare.description }}</p>
                                    <p>{{ dare.longDesc }}</p>
                                </div>
                                <div class="col-sm-12"><br>
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-6 dividers-left">
                                                    <p class="lead">Challange accpetance</p>
                                                    {% if (dare.status == 1) and (is_granted("IS_AUTHENTICATED_FULLY")) %}
                                                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#uploadModal">I did it</button>
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                                                        <h4 class="modal-title" id="myModalLabel">{{ dare.title }}</h4>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form id="upload_form" method="post" enctype="multipart/form-data">
                                                                            <div id="form">
                                                                                <label for="form_video" class="required">Video</label>
                                                                                <input type="file" name="file1" id="file1" required="required" />
                                                                                <input name="id" type="hidden" value="{{ dare.id }}"/>
                                                                                <input name="userid" type="hidden" value="{{ user.id }}"/>
                                                                                <br>
                                                                                <div class="progress">
                                                                                    <div data-percentage="0%" style="width: 50%;" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                                                                </div>
                                                                                <progress id="progressBar" value="20" max="100"></progress> <h3 id="status"></h3> <p id="loaded_n_total"></p>
                                                                            </div>
                                                                        </form>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <input type="button" id="upload-submit" onclick="uploadFile('{{ path('zdrw_index') }}upload')" class="btn btn-success" value="Upload" />
                                                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% elseif not is_granted("IS_AUTHENTICATED_FULLY") %}
                                                        <div class="alert alert-info" role="alert">You must be registered user in order to accept the challange!</div>
                                                    {% elseif dare.status == 2 %}
                                                        <div class="alert alert-warning" role="alert">Someone uploaded video, waiting for approval</div>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-6">
                                                    <p class="lead">Challange info</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        Views: {{ dare.views }}
                                        <button class="btn btn-success btn-xs">Like</button>
                                        <button class="btn btn-primary btn-xs">Share</button>
                                        <button class="btn btn-warning btn-xs">Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="col-md-4 box secondary-section">
            <div class="secondary-content">
                <h1>Stares</h1>
                <div class="row">
                    {% for stare in stares %}
                        <article class="col-md-12 articles">
                            <div class="dare-article">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <a href="#" class="thumbnail stare-thumbnail">
                                            <img src="http://placehold.it/350x260" class="img-responsive" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>
                                            <small class="pull-right">
                                                {{ stare.startDate | date("Y-d-m H:i") }}
                                            </small><br>
                                            <a href="{{ path('zdrw_dare', { id: stare.id }) }}">{{ stare.title }}</a>
                                        </h4>
                                        <p class="hidden-xs">{{ stare.description }}</p>
                                    </div>
                                    <div class="col-sm-12"><hr></div>
                                    <div class="col-sm-12">
                                        <div class="pull-right">
                                            Views: {{ stare.views }}
                                            <button class="btn btn-success btn-xs">Like</button>
                                            <button class="btn btn-primary btn-xs">Share</button>
                                            <button class="btn btn-warning btn-xs">Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}