{% extends "ZdrwOffersBundle::layout.html.twig" %}

{% block content %}
    <div class="container page-content">
        <section class="col-md-8 primary-section">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <a href="{{ path('zdrw_new_dare') }}" class="btn btn-info pull-right"><span class="glyphicon glyphicon-plus"></span> Create new</a>
            {% endif %}
            <h1>Dares</h1>
            <div class="primary-content">
                <div class="row">
                    {% for dare in dares %}
                        <article class="articles">
                            <div class="dare-article">
                                <div class="row">
                                    <div class="col-sm-2 thumb-keeper col-without-padding">
                                        <div class="thumb-container">
                                            <a href="{{ path('zdrw_user', {name: dare.Owner}) }}" class="thumbnail dare-thumbnail">
                                                <img class="img-responsive" src="http://placehold.it/100x100" alt="" />
                                            </a>
                                            <div class="text-center"><b><a href="{{ path('zdrw_user', {name: dare.Owner}) }}">{{ dare.Owner.nickname }}</a></b></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10 col-without-padding">
                                        <h4>
                                            <small class="pull-right">{{ dare.startDate | date("Y-d-m H:i") }}</small>
                                            <a href="{{ path('zdrw_dare', { id: dare.id }) }}">{{ dare.title|length > 50 ? dare.title|slice(0, 50) ~ '...' : dare.title  }}</a>
                                        </h4>
                                        <p>{{ dare.description|length > 200 ? dare.description|slice(0, 200) ~ '...' : dare.description  }}</p>
                                    </div>
                                    <div class="col-sm-12 col-without-padding">
                                        <div class="pull-right">
                                            <small>Views: {{ dare.views }}</small>
                                            <button class="btn btn-success btn-xs">Like</button>
                                            <button class="btn btn-warning btn-xs">Comment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="st st5"></div>
                                <div class="st st2"></div>
                                <div class="st st3"></div>
                                <div class="st st4"></div>
                                <div class="st st1"></div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="col-md-4 secondary-section">
            <h1>Stares</h1>
            <div class="secondary-content">
                <div class="row">
                    {% for stare in stares %}
                        <article class="col-md-12 articles">
                            <div class="dare-article">
                                <div class="row">
                                    <div class="col-sm-6 col-md-12 col-lg-6 thumb-keeper col-without-padding">
                                        <div class="thumb-container thumb-container-stare">
                                            <a href="#" class="thumbnail stare-thumbnail">
                                                <img src="../uploads/thumb/{{ stare.id }}.jpg" width="350" height="260" class="img-responsive" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-12 col-lg-6 col-without-padding">
                                        <h4>
                                            <small class="pull-right">
                                                {{ stare.startDate | date("Y-d-m H:i") }}
                                            </small><br>
                                            <a href="{{ path('zdrw_dare', { id: stare.id }) }}">{{ stare.title|length > 50 ? stare.title|slice(0, 50) ~ '...' : stare.title  }}</a>
                                        </h4>
                                    </div>
                                    <div class="col-md-12 col-sm-6 col-without-padding">
                                        <p class="shortDesc hidden-xs">{{ stare.description|length > 70 ? stare.description|slice(0, 70) ~ '...' : stare.description  }}</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="st st1"></div>
                                <div class="st st2"></div>
                                <div class="st st3"></div>
                                <div class="st st4"></div>
                                <div class="st st5"></div>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}