{% extends "ZdrwOffersBundle::layout.html.twig" %}

{% block content %}
    <div class="container page-content">
        <section class="col-md-8 box primary-section">
            <div class="primary-content">
                <article class="articles">
                    <small class="pull-right">
                    </small>
                    <h1>New dare</h1>
                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    <div>
                        {{ form_label(form.title) }}
                        {{ form_errors(form.title) }}
                        {{ form_widget(form.title) }}
                    </div>
                    <div>
                        {{ form_label(form.description) }}
                        {{ form_errors(form.description) }}
                        {{ form_widget(form.description) }}
                    </div>
                    <div>
                        {{ form_label(form.longDesc, 'Long description') }}
                        {{ form_errors(form.longDesc) }}
                        {{ form_widget(form.longDesc) }}
                    </div>
                    <div>
                        {{ form_widget(form.save) }}
                        {{ form_end(form) }}
                    </div>
                </article>
            </div>
        </section>
        <section class="col-md-4 box secondary-section">
            <div class="secondary-content">
                <h1>Stares</h1>
                {% for stare in stares %}
                    <article class="articles">
                        <div class="dare-article">
                            <div style="float:left;width:100%;height:150px;background-color:#777777;margin-bottom:10px;"></div>
                            <h4>
                                <small class="pull-right">
                                    {{ stare.startDate | date("Y-d-m H:i") }}
                                </small>
                                <br>
                                {{ stare.title }}
                            </h4>
                            <p class="hidden-xs">{{ stare.description }}</p>
                            <a href="{{ path('zdrw_dare', { id: stare.id }) }}" class="read-more">Read more</a>
                            <div class="pull-right">
                                Views: {{ stare.views }}
                                <button class="btn btn-success btn-xs">Like</button>
                                <button class="btn btn-primary btn-xs">Share</button>
                                <button class="btn btn-warning btn-xs">Comment</button>
                            </div>
                            <br><br>
                        </div>
                    </article>
                {% endfor %}
                &nbsp;
            </div>
        </section>
    </div>
{% endblock %}