<div>
    <br>
    <nav class="text-center">
        <ul class="pagination">
    {% if page > 4 %}
        {% set dots1 = '...' %}
        {% set start = page-3 %}
    {% else %}
        {%  set start = 1 %}
        {% set dots1 = '' %}
    {% endif %}
    {% if page < total-3 %}
        {% set dots2 = '...' %}
        {% set end = page+3 %}
    {% else %}
        {% set dots2 = '' %}
        {% set end = total %}
    {% endif %}
    {% if dots1 %}
        <li><a href="{{ path('zdrw_dares', {page: 1}) }}">First</a></li>
    {% endif %}
    {% if page > 1 %}
        <li><a href="{{ path('zdrw_dares', {page: page-1}) }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
    {% endif %}
    {% if dots1 %}
        <li class="disable"><span>{{ dots1 }}</span></li>
    {% endif %}
    {% for i in start..end %}
        {% if i == page %}
            <li class="active"><a href="#"><b>{{ i }}</b></a></li>
        {% else %}
            <li><a href="{{ path(link, {page: i}) }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}
    {% if dots2 %}
        <li class="disable"><span>{{ dots2 }}</span></li>
    {% endif %}
    {% if page < total %}
        <li><a href="{{ path(link, {page: page+1}) }}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
    {% endif %}
    {% if dots2 %}
        <li><a href="{{ path(link, {page: total}) }}">Last</a></li>
    {% endif %}
        </ul>
    </nav>
</div>