{% extends "ZdrwOffersBundle::layout.html.twig" %}

{% block content %}
    <div class="container page-content">
        <section class="col-md-8 box primary-section">
            <div class="primary-content">
                <h1>Stares</h1>
                {% for stare in stares %}
                    <article class="col-md-4 articles">
                        <div class="dareArticle">
                            <small class="pull-right">
                                {{ stare.startDate | date("Y-d-m H:i:s") }}
                            </small>
                            <div style="float:left;width:100%;height:150px;background-color:#777777;margin-bottom:10px;"></div>
                            <h4>{{ stare.title }}</h4>
                            <p>{{ stare.description }}</p>
                            <a href="{{ path('zdrw_dare', { id: stare.id }) }}" class="read-more">Read more</a>
                            <div class="pull-right">
                                Views: {{ stare.views }}
                                <button class="btn btn-success btn-xs">Like</button>
                                <button class="btn btn-primary btn-xs">Share</button>
                                <button class="btn btn-warning btn-xs">Comment</button>
                            </div>
                            <br><br>
                        </div>
                    </article>
                {% endfor %}
                &nbsp;
            </div>
        </section>
        <section class="col-md-4 box secondary-section">
            <div class="secondary-content">
                <h1>Dares</h1>
                <p>
                    Lorem ipsum
                </p>
            </div>
        </section>
    </div>
{% endblock %}