{% extends "ZdrwOffersBundle::layout.html.twig" %}

{% block content %}
    <div class="container page-content">
        <section class="col-md-8 primary-section">
            <div class="primary-content">
                <h1>Stares</h1>
                <div class="row">
                {% for stare in stares %}
                    <article class="col-md-4 articles">
                        <div class="dare-article">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#" class="thumbnail stare-thumbnail">
                                        <img src="http://placehold.it/350x260" class="img-responsive" alt="" />
                                    </a>
                                </div>
                                <div class="col-sm-12">
                                    <h4>
                                        <small class="pull-right">
                                            {{ stare.startDate | date("Y-d-m H:i") }}
                                        </small>
                                        <a href="{{ path('zdrw_dare', { id: stare.id }) }}">{{ stare.title }}</a>
                                    </h4>
                                </div>
                                <div class="col-sm-12">
                                <p>{{ stare.description }}</p>
                                    <div class="pull-right">
                                        Views: {{ stare.views }}
                                        <button class="btn btn-success btn-xs">Like</button>
                                        <button class="btn btn-primary btn-xs">Share</button>
                                        <button class="btn btn-warning btn-xs">Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
                </div>
            </div>
        </section>
        <section class="col-md-4 secondary-section">
            <div class="secondary-content">
                <h1>Dares</h1>
                <div class="row">
                {% for dare in dares %}
                    <article class="col-md-12 articles">
                        <div class="dare-article">
                            <div class="row">
                                <div class="col-sm-12">
                                </div>
                                <div class="col-sm-4 text-center">
                                    <a href="#" class="thumbnail dare-thumbnail">
                                        <img src="http://placehold.it/100x100" class="img-responsive" alt="" />
                                    </a>
                                    <b><a href="{{ path('zdrw_user', {name: dare.Owner}) }}">{{ dare.Owner }}</a></b>
                                </div>
                                <div class="col-sm-8">
                                    <h4>
                                        <small class="pull-right">
                                            {{ dare.startDate | date("Y-d-m H:i") }}
                                        </small><br>
                                        <a href="{{ path('zdrw_dare', { id: dare.id }) }}">{{ dare.title }}</a>
                                    </h4>
                                    <p>{{ dare.description }}</p>
                                </div>
                                <div class="col-sm-12">
                                    <div class="pull-right">
                                        Views: {{ dare.views }}
                                        <button class="btn btn-success btn-xs">Like</button>
                                        <button class="btn btn-primary btn-xs">Share</button>
                                        <button class="btn btn-warning btn-xs">Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                {% endfor %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}