{% extends "ZdrwOffersBundle::layout.html.twig" %}

{% block content %}
    {% block leftSideBar %}{% endblock %}
    <div class="container page-content">
        <section class="col-md-3 profile-section">
            <article class="profile">
                <a href="#" class="thumbnail avatar2"><img src="http://placehold.it/260x180" alt=""></a>
                <p>
                    <b class="font-1">{{ user.username }}</b><br>
                    {{ user.email }}
                </p>
            </article>
        </section>
        <section class="col-md-9 primary-section">
            <div class="tabbable tabs-left">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#B" data-toggle="tab">Posted dares</a></li>
                    <li class=""><a href="#C" data-toggle="tab">Accepted challenges</a></li>
                </ul>
                <br>
                <div class="tab-content">
                    <div class="tab-pane" id="B">
                        <ul class="list-group profile-list">
                            {% for dare in dares %}
                                <li class="list-group-item">
                                    <h4>
                                        <a href="{{ path('zdrw_dare', { id: dare.id }) }}">{{ dare.title }}</a>
                                        <small class="pull-right">{{ dare.startDate | date("Y-d-m H:i") }}</small>
                                    </h4>
                                    <p>{{ dare.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane" id="C">
                        <ul class="list-group profile-list">
                            {% for stare in stares %}
                                <li class="list-group-item">
                                    <h4>
                                        <a href="{{ path('zdrw_dare', { id: stare.id }) }}">{{ stare.title }}</a>
                                        <small class="pull-right">{{ stare.startDate | date("Y-d-m H:i") }}</small>
                                    </h4>
                                    <p>{{ stare.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}