{% extends "ZdrwUserBundle::layout.html.twig" %}

{% block content %}
    <div class="container page-content">
        <section class="col-md-3 profile-section">
            <article class="profile">
                <span class="thumbnail profile-thumbnail"><img alt="Profile picture" src='{{ 'http' in currentUser.avatar ? currentUser.avatar : asset('uploads/avatars/'~currentUser.avatar) }}' /></span>
                <p class="panel panel-body articles">
                    <b class="nick-name font-1">{{ currentUser.nickname }}</b><br>
                </p>
            </article>
        </section>
        <section class="col-md-9 primary-section">
            <div class="tabbable tabs-left">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#B" data-toggle="tab">Posted dares</a></li>
                    <li class=""><a href="#C" data-toggle="tab">Accepted challenges</a></li>
                </ul>
                <br>
                <div class="tab-content">
                    <div class="tab-pane active" id="B">
                        <ul class="list-group profile-list">
                            {% if dares == null %}
                                <li class="list-group-item text-center empty">
                                    User doesn't have any posted dares
                                </li>
                            {% endif %}
                            {% for dare in dares %}
                                <li class="list-group-item" onclick="location.href='{{ path('zdrw_dare', { id: dare.id }) }}';">
                                    <h4>
                                        <a href="{{ path('zdrw_dare', { id: dare.id }) }}">{{ dare.title }}</a>
                                        <small class="pull-right">{{ dare.startDate | date("Y-d-m H:i") }}</small>
                                    </h4>
                                    <p>{{ dare.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane" id="C">
                        <ul class="list-group profile-list">
                            {% if stares == null %}
                                <li class="list-group-item text-center empty">
                                    User doesn't have any accepted challenges
                                </li>
                            {% endif %}
                            {% for stare in stares %}
                                <li class="list-group-item" onclick="location.href='{{ path('zdrw_dare', { id: stare.id }) }}';">
                                    <h4>
                                        <a href="{{ path('zdrw_dare', { id: stare.id }) }}">{{ stare.title }}</a>
                                        <small class="pull-right">{{ stare.startDate | date("Y-d-m H:i") }}</small>
                                    </h4>
                                    <p>{{ stare.description }}</p>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}